/*
 *antisocial
 *global css
 */

/*
.container
{
    
}
*/

/*
#middle .form-control
{
    display: inline-block;
    width: 100%;
}
*/


#bottom
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: smaller;
    margin: 20px;
}


